.idea/
**/.DS_Store

node_modules/
venv/

package-lock.json
locklift.config.js

build/*.code
build/*.base64
build/*.tvc
**/.solc_imports/

*.log
.env
artifacts/

migration-log.json

!build/IndexBasis.base64
!build/IndexBasis.code
!build/IndexBasis.tvc
!build/Index.base64
!build/Index.code
!build/Index.tvc
